@import "tailwindcss";
@import "@fontsource/roboto";

@theme {
  --roboto: 'Roboto', sans-serif;
}


#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--roboto);
}

