.notification-items {
  border: 2px dotted #e1003c;
  padding-left: 10px;
}

.close-button {
  width: 8px;
  height: 8px;
  border: 0;
  background: none;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close-button img {
  width: 8px;
  height: 8px;
}