#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  border-bottom: 2px solid #e1003c;
}

.App-header h1 {
  display: flex;
  color: #e1003c;
  align-items: center;
}

.App-header img {
  height: 250px;
  width: 250px;
}

.App-body {
  height: 100%;
  margin-top: 20px;
  margin-left: 20px
}

.App-footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #e1003c;
}