.App-header {
  display: flex;
  border-bottom: 2px solid #e1003c;
}

.App-header h1 {
  display: flex;
  color: #e1003c;
  align-items: center;
}

.App-header img {
  height: 250px;
  width: 250px;
}
