#count {
    display: inline;
    font-weight: bold;
}

#logo {
    width: 200px;
    height: 200px;
    background-color:aquamarine;
    background-size: 200px 200px;
    background-position: center;
}